[submodule "vimfiles/bundle/neobundle.vim"]
	path = vimfiles/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "extapps/tmux-copycat"]
	path = extapps/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "extapps/solarized"]
	path = extapps/solarized
	url = https://github.com/altercation/solarized.git
[submodule "extapps/gnome-terminal-colors-solarized"]
	path = extapps/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "extapps/prezto"]
	path = extapps/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "extapps/fzf"]
	path = extapps/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "extapps/z"]
	path = extapps/z
	url = https://github.com/rupa/z.git
