[submodule "vimfiles/bundle/neobundle.vim"]
	path = vimfiles/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "tmux-copycat"]
	path = tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git@github.com:Anthony25/gnome-terminal-colors-solarized.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto
