'editor':
  'fontSize': 11
  'fontFamily': 'consolas for Powerline'
  'showIndentGuide': true
  'invisibles': {}
'core':
  'themes': [
    'seti-ui'
    'atom-dark-syntax'
  ]
  'useReactEditor': true
  'disabledPackages': [
    'symbols-view'
  ]
'exception-reporting':
  'userId': 'f7c49878-7953-c447-e2fb-508c8235b791'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '510449863e687d7f8cefb99b4c6d94cb1aea854a'
'git-diff':
  'showIconsInEditorGutter': true
'recent-files':
  'updated': false
'tree-view':
  'hideVcsIgnoredFiles': true
