'Qiita':
  'title': 'Qiita'
  'paths': [
    '/Users/tomoya/Projects/Qiita'
  ]
'commander':
  'title': 'commander'
  'paths': [
    '/Users/tomoya/Projects/commander'
  ]
'paper':
  'title': 'paper'
  'paths': [
    '/Users/tomoya/Dropbox/gist/paper'
  ]
'vim-cmdline-mode':
  'title': 'vim-cmdline-mode'
  'paths': [
    '/Users/tomoya/Projects/vim-cmdline-mode'
    '/Users/tomoya/Projects/vim-ex-completion'
    '/Users/tomoya/dotfiles/atomfiles/packages/vim-mode'
    '/Users/tomoya/Projects/command-line-views'
    '/Users/tomoya/Projects/silver-bullet'
  ]
'atom':
  'title': 'atom'
  'paths': [
    '/Users/tomoya/Sources/atom'
  ]
'alloy':
  'title': 'alloy'
  'paths': [
    '/Users/tomoya/Playground/alloy-book'
    '/Users/tomoya/.atom/packages/language-alloy'
  ]
'fl_enshu':
  'title': 'fl_enshu'
  'paths': [
    '/Users/tomoya/Playground/fl_enshu'
  ]
'atomfiles':
  'title': 'atomfiles'
  'paths': [
    '/Users/tomoya/dotfiles/atomfiles'
  ]
'zodiac':
  'title': 'zodiac'
  'paths': [
    '/Users/tomoya/Projects/zodiac'
  ]
'dotfiles':
  'title': 'dotfiles'
  'paths': [
    '/Users/tomoya/dotfiles'
  ]
'keepasshttp.js':
  'title': 'keepasshttp.js'
  'paths': [
    '/Users/tomoya/Projects/keepasshttp.js'
    '/Users/tomoya/Sources/python-keepasshttp'
    '/Users/tomoya/Sources/passifox'
    '/Users/tomoya/Sources/keepasshttp'
  ]
